Write an if statement to compare two variables, a and b. If b is greater than a, print a message saying "b is greater than a".

In [13]:
a = 27
b = 20
if a > b:
    print("a is greater")
else:
    print("b is greater")

a is greater

Write an if-else statement to compare two variables, a and b. If b is greater than a, print "b is greater than a". Otherwise, print "a and b are equal".

In [30]:
a = 20
b = 27
if a < b:
    print("b is greater than a")
else:
    print("a and b are equal")

b is greater than a

Write an if-elif-else statement to compare two variables, a and b. If b is greater than a, print "b is greater than a". If a and b are equal, print "a and b are equal". Otherwise, print "a is greater than b".

In [31]:
a = 20
b = 27
if a > b:
    print("a is greater")
elif a < b:
    print("b is greater")
else:
    print("a and b are equal")

b is greater

Create a tuple with the elements ("apple", "banana", "cherry"). Access and print the second element of the tuple.

In [33]:
tuple = ("apple", "banana", "cherry")
print(tuple)

('apple', 'banana', 'cherry')

In [35]:
(type(tuple))

tuple

Create a tuple with a single item "apple". Print the type of the tuple to confirm it's a tuple.

In [43]:
my_tuple = ("apple",)
print(type(my_tuple))

#not a tuple
my_tuple = ("apple")
print(type(my_tuple))

<class 'tuple'>
<class 'str'>

Create a tuple with the elements ("apple", "banana", "cherry"). Check if the item "apple" exists in the tuple and print the result.

In [44]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Convert a tuple ("apple", "banana", "cherry") to a list. Change the second item to "kiwi" and convert it back to a tuple. Print the modified tuple.

In [49]:
x = ("apple", "banana", "cherry")

In [ ]:
x[0] = "kiwi"

In [55]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

TypeError: 'tuple' object is not callable

Create a set with the elements {"apple", "banana", "cherry"}. Add "orange" to the set and remove "banana". Print the modified set.

In [56]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")
thisset.remove("banana")

print(thisset)

{'orange', 'cherry', 'apple'}

Create a tuple with the elements ("apple", "banana", "cherry"). Use a for loop to print each item in the tuple.

In [57]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
cherry
apple

Create a set with the elements {"apple", "banana", "cherry"}. Update it with another set {"pineapple", "mango", "papaya"} and a list ["kiwi", "orange"]. Print the updated set.

In [4]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
mylist = ["kiwi", "orange"]

thisset.update(tropical)
thisset.update(mylist)
print (thisset)

{'pineapple', 'orange', 'apple', 'mango', 'papaya', 'kiwi', 'banana', 'cherry'}