List and demonstrate the use of the following arithmetic operators in Python: Addition, Subtraction, Multiplication, Division, Modulus, Exponentiation, Floor Division.

In [1]:
3+2

5

In [2]:
7-3

4

In [3]:
5*4

20

In [4]:
25/5

5.0

In [5]:
25%5

0

In [11]:
4**3

64

In [16]:
60//3

20

Write Python expressions using comparison operators (less than, greater than, equal to, not equal to) and evaluate them. Include examples with both numbers and strings.

In [17]:
5<6

True

In [18]:
7>6

True

In [20]:
9==9

True

In [21]:
7!=7

False

In [22]:
"shashank" == "shashank"

True

Create a string variable and use the in and not in keywords to check for the presence or absence of a substring within the string. Print the results.

In [26]:
name = "my name is shashank suraj thorat"

In [27]:
print("is" in name)

True

In [29]:
print("thorat" not in name)

False

In [ ]:
Define a list with at least three elements. Use a for loop to print each element of the list.

In [40]:
fruits = ["banana", "apple", "grapes"]

In [42]:
for i in fruits:
    print(i)

banana
apple
grapes

Use the range() function to print numbers from 1 to 10 using a for loop.

In [4]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [6]:
r = range(1, 11)

In [7]:
print(list(r))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Create a string variable and demonstrate the following string methods: slicing, negative indexing, converting to uppercase, converting to lowercase, stripping whitespace, replacing a substring, and splitting the string.

In [10]:
a = "Myself, Shashank"

In [12]:
print(a[2:9])

self, S

In [25]:
print(a[-11:-1])

f, Shashan

In [26]:
print(a.upper())

MYSELF, SHASHANK

In [27]:
print(a.lower())

myself, shashank

In [28]:
b = "      shashank thorat              "

In [29]:
print(b.strip())

shashank thorat

In [32]:
print(a.replace("S", "P"))

Myself, Phashank

In [39]:
s = "shashank, ranjana, suraj, thorat, siddhant"
print(s.split(","))

['shashank', ' ranjana', ' suraj', ' thorat', ' siddhant']

Create a list with at least five elements of different data types. Print the list.

In [41]:
list = ["abc", 34, True, 40, "male"]
print(list)

['abc', 34, True, 40, 'male']

Access and print an item from the list using both positive and negative indexing.

In [42]:
a = "Myself, Shashank"
print(a[4:-1])

lf, Shashan

Modify elements of a list by using the append(), insert(), remove(), pop(), and del methods. Print the list after each operation.

In [43]:
mylist = ["fan", "cooler", "ac", "thunder"]
mylist.append("refrigerator")
print(mylist)

['fan', 'cooler', 'ac', 'thunder', 'refrigerator']

In [45]:
mylist.insert(1, "orange")
print(mylist)

['fan', 'orange', 'cooler', 'ac', 'thunder', 'refrigerator']

In [47]:
mylist.remove("fan")
print(mylist)

['orange', 'cooler', 'ac', 'thunder', 'refrigerator']

In [48]:
mylist = ["fan", "cooler", "ac", "thunder"]
mylist.pop(2)
print(mylist)

['fan', 'cooler', 'thunder']

In [52]:
mylist = ["fan", "cooler", "ac", "thunder"]
del mylist[1]
print(mylist)

['fan', 'ac', 'thunder']

In [53]:
mylist = ["fan", "cooler", "ac", "thunder"]
del mylist

Join two lists and print the result

In [54]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]